<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Views/Style/desktop_template.css">
    <title>Template</title>
</head>
<body>
    <header>
        <div class="tempHeader">
            <img class="tempJoinLogo" src="/Views/img/Capa.png" alt="">
            <div class="tempMenu">
                    <a class="tempFont" href="#">Kanban Project Management Tool</a>
                <img class="curserPointer" src="/Views/img/help.png" alt="">
                <img class="tempUser" src="/Views/img/user.png" alt="">
            </div>
        </div>
    </header>
    <div class="navBar">
        <nav class="tempNavContainer">
            <img class="tempNavImg" src="/Views/img/summary.png" alt="">
            <img class="tempNavImg" src="/Views/img/add_task.png" alt="">
            <img class="tempNavImg" src="/Views/img/board.png" alt="">
            <img class="tempNavImg" src="/Views/img/contacts.png" alt="">
        </nav>
        <div class="aContainer">
            <a class="aPrivacy" href="">Privacy Policy</a>
            <a class="aPrivacy" href="">Legal notice</a>
        </div>
    </div>
</body>
</html>