body {
    max-width: 1440px;
    max-height: 1024px;
    width: 1440px;
    height: 1024px;
    margin: 0;
}
.tempHeader{
    background-color: #4589ffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 39px;
    padding-right: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 1440px;
    max-height: 1024px;
    margin: 0;
}
.tempJoinLogo{
    width: 46px;
    height: 56px;
}
.tempUser{
    width: 56px;
    cursor: pointer;
}
.tempMenu{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 433px;
}
.tempFont{
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 22.8px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.curserPointer{
    cursor: pointer;
}
.tempNavContainer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}
.tempNavImg{
    width: 186px;
    height: 39px;
}
.aPrivacy{
    color: black;
    font-size: 1em;
    font-weight: 200;
    font-family: sans-serif;
    text-decoration: none;
    margin-left: 5px;
}
.aContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 300px;
}
.navBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;
}